
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  font-size: 16px;
  position: relative;
  cursor: default;
}

.headings ul li {
	list-style: none;

}
.headings h2 {
	font-size: 1em;

}

.headings h2 span {
	color: green;
  font-size: 1em;

}

.headings p {
  font-size: 0.875em;

}
